body{
    background: #ffffcc;
    padding: 10px;
}

#header{
    background: #990000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffcc;
    border-bottom: 12px solid red;
    padding: 5px 5px;
    margin-bottom: 10px;
    letter-spacing: 6px;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.heading{
    background: green;
    color: rgb(255, 255, 255);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    font-weight: bold;
    font-style: italic;   
}

li{
    font-style: italic;
    color: red;
}

#zeus-link {
    color: purple;
    text-decoration: none;
}

h3{
    color: rgb(41, 39, 39);
}

table, th, td {
    border: 1px solid black;
    background-color: grey;
}

.comment-section {
    flex-grow: 1;
    padding: 0px;
}

.comment-box {
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-left: 0px;
    overflow: auto;
    overflow-y: scroll;
}
.comment-box::-webkit-scrollbar {
    width: 20px;
}

.comment-box::-webkit-scrollbar-button {
    background-color: #ccc;  
    height: 26px;
}

.comment-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.comment-box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.comment-box::-webkit-scrollbar-button:increment {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>') no-repeat center;  /* Down arrow */
}

.comment-box::-webkit-scrollbar-button:decrement {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24"><path fill="black" d="M7 14l5-5 5 5z"/></svg>') no-repeat center;  /* Up arrow */
}